@font-face{
  font-family: 'Star Jedi';
  src: local('Star Jedi'), url('./fonts/Starjout.ttf') format('truetype');
}


body {
  background: url(https://wallpaperaccess.com/full/21523.jpg) no-repeat center center fixed;
  margin: 0;
  font-family: 'Star Jedi';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
